<%- include("header") -%>


<h2 style="text-align: center; color: black; margin-top: 50px;">Cel mai misto om din lume e Alex</h2>


<p style="text-align: center; color: rgb(112, 100, 102); width: 30%; margin: 0 auto;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, a corporis architecto minima officia voluptas nam dolor maxime eveniet distinctio? </p>


<%- include("footer") -%>
