<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List</title>
</head>
<body>

    <ul>
        <li class="footer-bar">
            <a href="/" class="menu-items"> Home </a>
        </li>
        <li class="footer-bar">
            <a href="/about" class="menu-items"> About </a>
        </li>
        <li class="footer-bar">
            <a href="/work" class="menu-items"> Work </a>
        </li>
    </ul>